@import './variables.scss';

.page-header__menu {
  a {
    &::after {
      display: block;
      right: 0;
      width: 0;
      transition: width 0.3s ease;
    }

    &:hover,
    &:focus {
      &::after {
        right: auto;
        left: 0;
        width: 100%;
      }
    }
  }
}

.loaded .page-header__menu a.active::after {
  right: auto;
  left: 0;
  width: 100%;
}

.social-block__link {
  transform: translateY(50%);
  opacity: 0;
  @include fade-in-with-translante(0.3s);
}

.social-block__toggler::before {
  transform-origin: 0 0;
  transform: scale(0) translate(-50%, -50%);
  transition: all 0.3s ease;
}

.loaded {
  .social-block__toggler::before {
    transform: scale(1) translate(-50%, -50%);
    animation: toggle-scale 0.35s cubic-bezier(0,0,.02,.86);
  }
}

.social-block {
  &:hover {
    $social-links-count: 3;

    @for $i from 1 through $social-links-count {
      li:nth-of-type(#{$i}) a {
        transition-delay: 50ms * $i;
      }
    }

    .social-block__link {
      opacity: 1;
      display: block;
      transform: translateY(0);
    }
  }
}

.active {
  .intro__message {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro__message {
  opacity: 0;
  transform: translateY(2.4rem * 1.27);
  @include fade-in-with-translante(0.4s);
}

.slider__item-text {
  opacity: 0;
  transform: translateX(20px);
  transition-delay: 0.35s;
  @include fade-in-with-translante(0.3s);
}

.swiper-slide-active,
.swiper-slide-next {
  .slider__item-text {
    opacity: 1;
    transform: translateX(0.15);
  }
}

.swiper-slide-next {
  .slider__item-text {
    transition-delay: 0.5s;
  }
}

.form {
  padding-left: 71%;
}

.active {
  .form {
    padding-left: 0;
    transition: padding-left 0.2s ease-in;
  }
}

.loaded {
  .page-header__logo {
    transition: all 0.5s cubic-bezier(0,0,.02,.86);
    opacity: 1;
    transform: translateX(0);
  }

  .page-header__nav {
    transition: all 1s cubic-bezier(0,0,.02,.86);
    opacity: 1;
  }

  .screen__footer {
    transition: all 0.6s cubic-bezier(0,0,.02,.86);
    transform: translateY(0);
  }
}

@keyframes toggle-scale {
  from {
    transform: scale(0) translate(-50%, -50%);
  }

  to {
    transform: scale(1.1) translate(-50%, -50%);
  }
}

.background {
  position: fixed;
  background: $c-dark;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  transform: translateY(100%);

  transition: all #{$screen-transition-duration}ms ease-out;
}

.background--active {
  z-index: 1;
  transform: translateY(0);
}

/*
  «Появление нумерованного списка в разделе «Правила»»
*/
$rules-count: 4;
$rules-circle-animation-duration: 200ms;

$rules-animation-initial-delay: 100ms;
$rules-animation-delay-delta: 200ms;

.rules__list {
  @for $i from 1 through $rules-count {
    .rules__item:nth-of-type(#{$i})::before {
      transition-delay: $rules-animation-initial-delay + ($rules-animation-delay-delta * $i);
    }

    .rules__item:nth-of-type(#{$i}) p {
      transition-delay: $rules-animation-initial-delay + $rules-circle-animation-duration + (200ms * $i);
    }
  }
}

.rules__item {

  &::before {
    transform: scale(0);
    transition-duration: $rules-circle-animation-duration;
    transition-timing-function: cubic-bezier(0.15, 0.85, 0.79, 1.53);
  }

  p {
    opacity: 0;
    transform: translateX(15px);
    transition-property: transform, opacity;
    transition-duration: 150ms, 200ms;
    transition-timing-function: ease-in-out, linear;
  }
}

.active .rules__item {
  opacity: 1;

  &::before {
    transform: scale(1);
  }

  p {
    opacity: 1;
    transform: translateY(0);
  }
}
